name: Node.js CI
on:
  push:
    branches:
      - main
      - "dependabot/**"
  pull_request:
    types:
      - opened
      - synchronize
      
jobs:
  # unit tests
  units:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: 12  
    - run: npm test
    - run: npm run run
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        